{{!-- add topic section --}}\
{{!-- create post section and add posts section in a partial --}}

<div class="container">
  <div class="row">
    <div class="col">
      <p>Group Name: {{name}}</p>
      <h2>Group Members</h2>
      {{#each memberships as |member| }}
      <!--Def need to change this!!-->
      <div class="row mb-4">
        <div class="col-md-5">
          <p>{{member.username}}</p>
        </div>
      </div>
      {{/each}}
      <form class="form new-invitation">
        <div class="form-group">
          <label for="textarea"></label>
          <textarea class="form-control" id="email" placeholder="Enter Email" rows="3"></textarea>
          <button class="btn btn-primary" data-id="{{id}}" type="submit">Invite</button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Topics</h2>
      {{#each topics as |topic| }}
      <!--Def need to change this!!-->
      <div class="row mb-4">
        <div class="col-md-5">
          <p>{{topic.name}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col">
    <h2>Create New Post</h2>
    <form class="form new-post">
      <div class="form-group">
        <label for="new-post"></label>
        <input class="form-input" type="text" id="post-title" placeholder="Title" />
        <label for="textarea"></label>
        <textarea class="form-control" id="post-content" placeholder="What would you like to say" rows="3"></textarea>
        <button class="btn btn-primary" type="submit">POST</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>