<!-- Displaying Posts -->

{{#each groups as |group| }}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      <a href="/group/{{group.id}}">{{group.name}}</a>
    </h2>
  </div>
</div>
{{/each}}

