<!-- Displaying Posts -->

<div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Welcome to Your Forum</h1>
              {{#each groups as |group| }}
              <div class="card" >
                <div class="card-header">
                    <h2> <a href="/post/{{group.id}}">{{group.name}}</a></h2>
                </div>
            </div>
            {{/each}}
              
            </div>
          </div>

